:root{
    --ff-primary: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


body {
    background: rgb(98, 151, 158);
    display: grid;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem; 
    line-height: 1.7;
    color: rgba(44, 42, 42, 0.479);
   
}



h1 {
    text-align: center;
    color: rgb(240, 240, 224);
    font-size: 3.5em;   
    padding-left: .3rem;
    padding-right: .3rem;
    margin-left: .3em;
    margin-right: .3em;
    
    
}


h3 {
    text-align: center;
    color: rgb(222, 237, 238);
    font-size: 2em;
     
}                       

.addedH3 {
    text-align: center;
    color: black;
    font-size: 2em;   
    text-shadow: 2px 2px 6px rgb(231, 227, 212);
    margin-top: 2em;  
    letter-spacing: 0.05em;
    animation:fadeIn 2s;
}

@keyframes fadeIn{
    0%{opacity:0;}  
    50%{opacity:0;}
    100%{opacity:1;}
    }


.addedH2 {
    text-align: left;
    color: rgb(214, 202, 202);
    font-size: 1.25em;   
    padding: 3.5em 2em 2em 2em;
    animation:fadeIn 5.5s;
    
}


#container {
    background: rgba(161, 161, 161, 0.349);
    
    height: min(57%, 60rem);    
    padding-top: 1em;
    padding-bottom: 5em;
    margin: 0 auto;
    border-color: #FFFFFF #327CB5 #327CB5 #FFFFFF;
    box-shadow: 1px 1px 3px #1a1818;
    margin-left: 20%;
    margin-right: 20%;  
    backdrop-filter: blur(4px);
    
}

.click{
    background-color: rgba(235, 70, 213, 0.493);
}

.click:hover {
    background-color: rgba(87, 116, 87, 0.678);
}

#dia, #mes, #año, #nombre, #submit{
    padding: .5em;
    font-size: 1.4em;               
    border-color: rgb(73, 134, 106);
    outline: none;
    background-color: rgba(112, 129, 105, 0.822);
    
    

}

.bg-image{
    height: 100vh;
    width: 100vw;
    background-image: url("./Imágenes Tolkien/3209181.jpg"); 
    background-size: cover; 

}

.bg-image2{
    height: 100vh;
    width: 100vw;
    background-image: url("./Imágenes Tolkien/3209181.jpg"); 
    text-align: center;
  
    border-color: #181616;
    box-shadow: 1px 1px 3px #1a1818;
    font-size: 1rem; 

}  

@media (max-width: 1200px){
    h1 {
        font-size: 2.4em;
        padding: 0.5rem;
    }

    h3 {
        font-size: 2em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: 1em;
        padding-top: 1em;
    }
    .addedH3 {
        font-size: 1.8em;
    }
    #container {
        padding-top: 1em;
        padding-bottom: 15em;
        margin-left: 10%;
        margin-right: 10%;  
  
    }

    #dia, #mes, #año, #nombre, #submit {
        font-size: 1.8em;
        padding: .7em;
        margin: 0.1em;
    }
    .bg-image {
        height: 120vh;
        width: 100vw;
      
    }
}

@media (max-width: 1024px){
    h1 {
        font-size: 3.5em;
        padding: 0.5rem;
    }

    h3 {
        font-size: 2.5em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: 1.4em;
    }
    .addedH3 {
        font-size: 2.2em;
    }
    #container {
        padding-top: 1em;
        padding-bottom: 12em;
        margin-left: 10%;
        margin-right: 10%;  
  
    }

    #dia, #mes, #año, #nombre, #submit {
        font-size: 2.2em;
        padding: .9em;
        margin: 0.1em;
    }
}

@media (max-width: 960px){
    h1 {
        font-size: 3em;
        padding: 0.5rem;
    }

    h3 {
        font-size: 1.8em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: 1em;
    }
    .addedH3 {
        font-size: 1.5em;
    }
}

@media (max-width: 768px){
    h1 {
        font-size: 2em;
        padding: 0.5rem;
    }
    h3 {
        font-size: 1.7em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: .9em;
    }
    .addedH3 {
        font-size: 1.6em;
    }
    #dia, #mes, #año, #nombre, #submit {
        font-size: 1.8em;
    }

    #container {
        padding-top: 1em;
        padding-bottom: 5em;
        margin-left: 10%;
        margin-right: 10%;  
  
    }
}


@media (max-width: 576px){
    h1 {
        font-size: 1.5em;
        padding: 0.5rem;
    }

    h3 {
        font-size: 1.3em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: 0.8em;
    }
    #dia, #mes, #año, #nombre, #submit {
        font-size: 1.1em;
    }
    .addedH3 {
        font-size: 1em;
    }
}

@media (max-width: 414px){
    h1 {
        font-size: 1.4em;
        padding: .5rem .5rem 2.5rem .5rem;
    }
    h3 {
        font-size: 1.2em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: 0.6em;
        padding-top: .3em;
    }
    .addedH3 {
        font-size: 1.1em;
    }
    #dia, #mes, #año, #nombre, #submit {
        font-size: 1em;
    }

    #container {
        padding-top: 1em;
        padding-bottom: 5em;
        margin-left: 10%;
        margin-right: 10%;  
  
    }
}

@media (max-width: 380px){
    h1 {
        font-size: 1.2em;
        padding: .5rem .5rem 2.5rem .5rem;
    }
    h3 {
        font-size: 1em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: 0.6em;
        padding-bottom: .8em;
    }
    .addedH3 {
        font-size: .9em;
    }
    #dia, #mes, #año, #nombre, #submit {
        font-size: .8em;
    }

    #container {
        padding-top: 1em;
        padding-bottom: 5em;
        margin-left: 10%;
        margin-right: 10%;  
  
    }
    
}

@media (max-width: 320px){
    h1 {
        font-size: 1.2em;
        padding: .5rem .5rem 1.3rem .5rem;
    }
    h3 {
        font-size: 1em;
        padding: 0.4rem;
    }
    .addedH2 {
        font-size: 0.5em;
        padding-bottom: .3em;
        margin-bottom: 0.3em;
    }
    .addedH3 {
        font-size: .8em;
        padding-bottom: .3em;
    }
    #dia, #mes, #año, #nombre, #submit {
        font-size: .7em;
    }

    #container {
        padding-top: 1em;
        padding-bottom: 4em;
        margin-left: 9%;
        margin-right: 9%;  
  
    }
    
}


