:root{
    --ff-primary: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


body {
    background: rgb(98, 151, 158);
    display: grid;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem; 
    line-height: 1.7;
    color: rgba(44, 42, 42, 0.479);
   
}



h1 {
    text-align: center;
    color: rgb(240, 240, 224);
    font-size: 3.5em;   
    padding-left: .3rem;
    padding-right: .3rem;
    margin-left: .3em;
    margin-right: .3em;
    
    
}


h3 {
    text-align: center;
    color: rgb(222, 237, 238);
    font-size: 2em;
     
}                       

.addedH3 {
    text-align: center;
    color: black;
    font-size: 2em;   
    text-shadow: 2px 2px 6px rgb(231, 227, 212);
    margin-top: 2em;  
    letter-spacing: 0.05em;
    animation:fadeIn 2s;
}

@keyframes fadeIn{
    0%{opacity:0;}  
    50%{opacity:0;}
    100%{opacity:1;}
    }


.addedH2 {
    text-align: left;
    color: rgb(214, 202, 202);
    font-size: 0.8em;   
    padding: 3.5em 2em 2em 2em;
    animation:fadeIn 5.5s;
    
}


#container {
    background: rgba(161, 161, 161, 0.349);
    
    height: min(57%, 60rem);    
    padding-top: 1em;
    padding-bottom: 7em;
    margin: 0 auto;
    border-color: #FFFFFF #327CB5 #327CB5 #FFFFFF;
    box-shadow: 1px 1px 3px #1a1818;
    margin-left: 20%;
    margin-right: 20%;  
    backdrop-filter: blur(4px);
    
}

.click{
    background-color: rgba(235, 70, 213, 0.493);
}

.click:hover {
    background-color: rgba(87, 116, 87, 0.678);
}

#dia, #mes, #año, #nombre, #submit{
    padding: .5em;
    font-size: 1.4em;               
    border-color: rgb(73, 134, 106);
    outline: none;
    background-color: rgba(112, 129, 105, 0.822);
    
    

}

.bg-image{
    height: 100vh;
    width: 100vw;
    background-image: url("./Imágenes Tolkien/3209181.jpg"); 
    background-size: cover; 

}

.bg-image2{
    height: 100vh;
    width: 100vw;
    background-image: url("./Imágenes Tolkien/3209181.jpg"); 
    text-align: center;
  
    border-color: #181616;
    box-shadow: 1px 1px 3px #1a1818;
    font-size: 1rem; 

}  







@media (max-width: 1280px){
    h1 {
        font-size: 2.5em;
        padding: 0.5rem;
    }

    h3 {
        font-size: 2.1em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: 1em;
        padding-top: 1em;
    }
    .addedH3 {
        font-size: 1.3em;
    }
    #container {
        padding-top: 1em;
        padding-bottom: 10em;
        margin-left: 10%;
        margin-right: 10%;  
        background-color: rgb(24, 27, 25); 
         
  
    }

    #dia, #mes, #año, #nombre, #submit {
        font-size: 1.3em;
        padding: .7em;
        margin: 0.1em;

    }

}



@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px) {
    h1 {
        font-size: 2em;
        padding: 0.5rem;
    }

    h3 {
        font-size: 1.8em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: 1.1em;
        padding-top: 1em;
    }
    .addedH3 {
        font-size: 1.7em;
    }
    #container {
        padding-top: 1em;
        padding-bottom: 10em;
        margin-left: 10%;
        margin-right: 10%;  
         background-color: rgb(201, 44, 70);  
  
    }

    #dia, #mes, #año, #nombre, #submit {
        font-size: 1.3em;
        padding: 1em;
        
        margin: 0.2em;

    }
} 

 @media (max-width: 1024px){
    h1 {
        font-size: 2.3em;
        padding: 0.5rem;
    }

    h3 {
        font-size: 1.8em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: 0.7em;
        padding-top: 1em;
    }
    .addedH3 {
        font-size: 1.2em;
    }
    #container {
        padding-top: 1em;
        padding-bottom: 11em;
        margin-left: 10%;
        margin-right: 10%;  
        background-color: pink; 
  
    }

    #dia, #mes, #año, #nombre, #submit {
        font-size: 1em;
        padding: .7em;
        margin: 0.1em;

    }

} 





@media (max-width: 768px){
    h1 {
        font-size: 1.8em;
        padding: 0.5rem;
    }
    h3 {
        font-size: 1.6em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: .65em;
        padding-bottom: 2em;
    }
    .addedH3 {
        font-size: 1.1em;
        padding-bottom: 1.7em;
    }
    #dia, #mes, #año, #nombre, #submit {
        font-size: 1.8em;
    }

    #container {
        padding-top: 1em;
        padding-bottom: 9em;
        margin-left: 10%;
        margin-right: 10%;  
      background-color: rgb(82, 180, 156); 
  
    }

    #dia, #mes, #año, #nombre, #submit {
        font-size: 1.15em;
        padding: .7em;
        margin: 0.1em;
        
    }
}

@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px) {
    h1 {
        font-size: 1.8em;
        padding: 0.5rem;
    }
    h3 {
        font-size: 1.6em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: 1.2em;
        padding-bottom: 2em;
    }
    .addedH3 {
        font-size: 1.5em;
        padding-bottom: 1.7em;
    }
    #dia, #mes, #año, #nombre, #submit {
        font-size: 1.8em;
    }

    #container {
        padding-top: 1em;
        padding-bottom: 9em;
        margin-left: 10%;
        margin-right: 10%;  
    background-color: rgb(82, 180, 156); 
  
    }

    #dia, #mes, #año, #nombre, #submit {
        font-size: 1.5em;
        padding: .7em;
        margin: 0.1em;
       background-color: aqua; 
        
    }
} 






@media (max-width: 576px){
    h1 {
        font-size: 1.3em;
        padding: .5rem .5rem 1.3rem .5rem;
    }
    h3 {
        font-size: 1.2em;
        padding: 0.4rem;
    }
    .addedH2 {
        font-size: .7em;
        padding-bottom: .3em;
        margin-bottom: 0.3em;
    }
    .addedH3 {
        font-size: 1em;
        padding-bottom: .4em;
    }


    #container {
        padding-top: 1em;
        padding-bottom: 6em;
        margin-left: 9%;
        margin-right: 9%;  
      background-color: rgb(78, 80, 173); 
  
    }

    #dia, #mes, #año, #nombre, #submit {
        font-size: .8em; 
        padding: .7em;
        margin: 0.1em;
        
    }
    
}


@media (max-width: 414px){
    h1 {
        font-size: 1.2em;
        padding: .5rem .5rem 1.3rem .5rem;
    }
    h3 {
        font-size: 1em;
        padding: 0.4rem;
    }
    .addedH2 {
        font-size: .45em;
        padding-bottom: .3em;
        margin-bottom: 0.3em;
    }
    .addedH3 {
        font-size: .8em;

        padding-bottom: .2em;
    }

    #container {
        padding-top: 1em;
        padding-bottom: 8em;
        margin-left: 9%;
        margin-right: 9%;  
      background-color: rgb(166, 46, 214); 
  
    }

    #dia, #mes, #año, #nombre, #submit {
        font-size: 0.8em; 
        padding: .7em;
        margin: 0.1em;
        
    }
    
}


@media (max-width: 320px){
    h1 {
        font-size: 1.4em;
        padding: .5rem .5rem 1.3rem .5rem;
    }
    h3 {
        font-size: 1.2em;
        padding: 0.4rem;
    }
    .addedH2 {
        font-size: .41em;
        padding-bottom: .3em;
        margin-bottom: 0.3em;
    }
    .addedH3 {
        font-size: .71em;
      

    }

    #container {
        padding-top: 1em;
        padding-bottom: 8.7em;
        margin-left: 9%;
        margin-right: 9%;  
      background-color: rgb(166, 46, 214); 
  
    }

    #dia, #mes, #año, #nombre, #submit {
        font-size: 0.7em; 
        padding: .7em;
        margin: 0.1em;
        
    }
    
}

 @media only screen   
and (min-width: 1366px)   
and (max-width: 625px) {
    h1 {
        font-size: 2.3em;
        padding: 0.5rem;
    }

    h3 {
        font-size: 2.6em;
        padding: 0.5rem;
    }
    .addedH2 {
        font-size: 1.7em;
        padding-top: 1em;
    }
    .addedH3 {
        font-size: 1.7em;
    }
    #container {
        padding-top: 1em;
        padding-bottom: 11em;
        margin-left: 10%;
        margin-right: 10%;  
        
  
    }

    #dia, #mes, #año, #nombre, #submit {
        font-size: 1em;
        padding: .7em;
        margin: 0.1em;
        background-color: rgb(26, 42, 184); 

    }
} 

